#container{
  width: 600px;
  height: 700px;
  margin: 0 auto;
  background-color: black;

}
  h1{
    height: 100px;
    width: 300px;
    display: inline;
    color: white;
  }
  p{
    display: inline-block;
    height: 200px;
    width: 596px;
    color: white;
  }

#beach_photos{
  width: 600px;
  height: 500px;
  display: inline-block;
}

  img{
    display: inline;
    height: 200px;
    width: 271px;
    border: 2px; solid white;
    margin: 15px; 
  }
